<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Host Name</th>
        <!--th>Hosted GTFS Feed Name(s)</th-->
        <!--th>Hosted Transit Agency Name(s)</th-->
        <th>Host Url</th>
      </tr>
    </thead>
    <tbody>
      <% hosts.each do |host| %>
      <tr>
        <td><%= link_to host.name.try(:upcase), host_path(host) %></td>
        <!--td><%#= host.feed_names %></td-->
        <!--td><%#= host.feed_agencies %></td-->
        <td><%= link_to host.url, :title => "Visit host at #{host.name}" do %><%= host.url %>&nbsp;<i class="fa fa-external-link"></i><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
