<% content_for(:breadcrumb_nav) do %>
  <ol class="breadcrumb">
    <li class="active"><%= link_to "Hosts", hosts_path %></li>
  </ol>
<% end %>

<h2>General Transit Feed Specification (GTFS) Hosts</h2>

<%= render :partial => "summary_table", :locals => {:hosts => @hosts} %>
