<% content_for(:breadcrumb_nav) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Feeds", feeds_path %></li>
    <li class="active"><%= link_to @feed.source_url, feed_path(@feed) %></li>
  </ol>
<% end %>

<p>
  <strong>Source url:</strong>
  <%= @feed.source_url %>
</p>

<%#= link_to 'Edit', edit_feed_path(@feed) %>
