<% content_for(:breadcrumb_nav) do %>
  <ol class="breadcrumb">
    <li class="active"><%= link_to "Agencies", agencies_path %></li>
  </ol>
<% end %>

<h3>Transit Agencies</h3>

<%= render :partial => "summary_table", :locals => {:agencies => @agencies} %>
